<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="EdocDBConnectionString"
        connectionString="Data Source=PRO-2740;Initial Catalog=DEV_EDOC_DB;User ID=edoc_dbo;Password=edoc_dbo"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>