
CREATE TABLE [dbo].[tblReferenceMaster](
	[Id_Table] [char](15) NOT NULL,
	[Id_Table_Sub] [char](15) NOT NULL,
	[Cd_Value] [char](10) NOT NULL,
	[Desc_Value] [varchar](385) NOT NULL,
	[Seq_No] [tinyint] NULL
)


