
CREATE TABLE [dbo].[tblUser](
	[Id_User] [varchar](36) NOT NULL,
	[Name_First] [varchar](30) NOT NULL,
	[Name_Last] [varchar](30) NOT NULL,
	[Name_MI] [char](1) NOT NULL,
	[Cd_Location] [varchar](20) NOT NULL,
	[Ph_Work] [varchar](15) NOT NULL,
	[Ph_Work_Ext] [varchar](5) NOT NULL,
	[Ph_Home] [varchar](15) NOT NULL,
	[Ph_Cell] [varchar](15) NOT NULL,
	[Ph_Pager] [varchar](15) NOT NULL,
	[EMail] [varchar](150) NOT NULL,
	[Addr_Line1] [varchar](60) NOT NULL,
	[Addr_Line2] [varchar](36) NOT NULL,
	[Addr_City] [varchar](36) NOT NULL,
	[Addr_State] [varchar](36) NOT NULL,
	[Addr_Zip] [varchar](10) NOT NULL,
	[Addr_Country] [varchar](36) NOT NULL,
	[Ind_EmpCol] [char](1) NOT NULL,
	[Id_Vendor] [varchar](8) NULL,
	[Cd_Job_Category] [varchar](10) NULL,
	[FullTimeEmployee] [char](1) NULL,
	[Ind_Delete] [char](1) NULL,
	[Ind_CoOrdinator] [char](1) NULL,
	[Dt_Created] [datetime] NULL,
	[Id_Created] [varchar](36) NULL,
	[Dt_Modified] [datetime] NOT NULL,
	[Id_LastModified] [varchar](36) NOT NULL,
	[Dt_LastReviewed] [datetime] NOT NULL,
	[Id_CoOrdinator] [varchar](36) NULL,
	[Dt_DOB] [datetime] NOT NULL,
	[Dt_Hire] [datetime] NOT NULL,
	[Dt_Delete] [datetime] NULL,
	[Id_DeletedBy] [varchar](36) NULL,
	[Ind_ReHire] [char](1) NULL,
	[Ind_KeyEmployee] [char](1) NULL,
	[Cd_Sex] [char](1) NULL,
	[AlertMe] [bit] NULL,
	[Administrator] [bit] NULL,
	[Moderator] [bit] NULL,
	[URL] [varchar](255) NULL,
	[Occupation] [varchar](255) NULL,
	[Interests] [varchar](255) NULL,
	[MSNIM] [varchar](255) NULL,
	[YahooIM] [varchar](255) NULL,
	[ICQ] [varchar](255) NULL,
	[AIM] [varchar](255) NULL,
	[NoOfPosts] [int] NULL,
	[JoinDate] [smalldatetime] NULL,
	[LastLoginDate] [smalldatetime] NULL,
	[Id_Signature] [int] NULL,
	[Id_Biography] [int] NULL,
	[AvatarURL] [varchar](255) NULL,
	[PhotoURL] [varchar](255) NULL,
	[UserStatus] [varchar](255) NULL,
	[IPAddress] [varchar](75) NULL,
	[Banned] [bit] NULL,
	[IPBanned] [bit] NULL,
	[GroupId] [int] NULL,
	[ForumSkin] [varchar](200) NULL,
	[TimeZoneOffset] [real] NULL,
	[ActiveAccount] [bit] NULL,
	[ConfirmationCode] [varchar](100) NULL,
	[OriginalAction] [varchar](150) NULL,
	[Ind_ExternalAgency] [char](1) NULL,
	[Name_First_Alias] [varchar](50) NULL,
	[Name_Last_Alias] [varchar](50) NULL,
	[Id_ProjectGroup] [varchar](8) NULL,
	[StatusTime] [datetime] NULL,
	[Id_Project] [varchar](8) NULL,
	[Dt_Resign] [datetime] NULL,
	[CD_JobTitle] [char](10) NULL,
	[DT_Terminate] [datetime] NULL,
	[Id_Employee] [char](10) NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[Id_User] ASC
))

